<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <h3 th:if="${session.user == null}">您还未登录</h3>
    <h3 th:if="${session.user != null}" th:text="|hello ${session.user.username}|"></h3>
  </body>
</html>
