<!DOCTYPE html>
<html>
  <head>
    <title>用户列表</title>
	<meta charset="UTF-8">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <table>
  		<thead>
  			<tr>
  				<th align="center">ID</th>
  				<th align="center">账号</th>
  				<th align="center">密码</th>
  				<th align="center">创建时间</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr th:each="item:${data}">
  				<td th:text="${item.id }"></td>
  				<td th:text="${item.username }"></td>
  				<td th:text="${item.password }"></td>
  				<td th:text="${#dates.format(item.createTime*1000,'yyyy-MM-dd HH:mm:ss')}"></td>
  			</tr>
  		</tbody>
  	</table>
  </body>
</html>
